In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dfx_train=pd.read_csv('Diabetes_XTrain.csv')
dfy_train=pd.read_csv('Diabetes_YTrain.csv')
dfx_test=pd.read_csv('Diabetes_Xtest.csv')
dfy_test=pd.read_csv('sample_submission.csv')
print(dfx_train.shape)
print(dfy_train.shape)
print(dfx_test.shape)
print(dfy_test.shape)

(576, 8)
(576, 1)
(192, 8)
(192, 1)

In [3]:
dfx_train.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age'],
      dtype='object')

In [4]:
dfx_train.head(n=6)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23
5,7,100,0,0,0,30.0,0.484,32

In [5]:
dfx_test.head(n=6)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22
5,5,137,108,0,0,48.8,0.227,37

In [6]:
dfy_train.columns

Index(['Outcome'], dtype='object')

In [7]:
dfy_train.head(n=6)

   Outcome
0        1
1        0
2        1
3        1
4        0
5        1

In [8]:
dfy_test.head(n=6)

   Outcome
0        1
1        1
2        1
3        1
4        1
5        1

In [33]:

Xtrain=dfx_train.values
Ytrain=dfy_train.values
#print(Ytrain)
Xtest=dfx_test.values
Ytest=dfy_test.values
print(type(Xtrain))

<class 'numpy.ndarray'>

In [49]:
def dist(x1,x2):
    return np.sqrt(sum((x1-x2)**2))

def knn(X,Y,queryPoint,k=5):
    
    vals = []
    m = X.shape[0]
    
    for i in range(m):
        d = dist(queryPoint,X[i])
        vals.append((d,Y[i]))
        
    
    vals = sorted(vals)
    # Nearest/First K points
    vals = vals[:k]
    #print(vals)
    vals = np.array(vals)
    
    print(vals)
    
    new_vals = np.unique(vals[:,1],return_counts=True)
    print(new_vals)
    
    index = new_vals[1].argmax()
    print(index)
    #pred = new_vals[0][index]
    pred=Ytrain[index]
    return pred

In [56]:
pred = knn(Xtrain,Ytrain,Xtest[8])

print(int(pred))

[[6.063319552852217 array([0], dtype=int64)]
 [7.96641173929643 array([0], dtype=int64)]
 [8.582422094024508 array([0], dtype=int64)]
 [8.80194438746349 array([0], dtype=int64)]
 [10.279428194213919 array([0], dtype=int64)]]
(array([array([0], dtype=int64)], dtype=object), array([5]))
0
1

In [57]:
print(int(Ytest[6]))

1